spring:
  datasource:
    dynamic:
      primary: master
      datasource:
        master:
          driver-class-name: com.mysql.cj.jdbc.Driver
          url: jdbc:mysql://localhost:3306/tagtag-v2?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai
          username: root
          password: 123456
    hikari:
      minimum-idle: 1
      initializationFailTimeout: 1
  data:
    redis:
      host: localhost
      port: 6379
      database: 0
  cache:
    type: redis
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: false
    group: true
    clean-disabled: false
    validate-on-migrate: true


mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    jdbc-type-for-null: 'null'
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0

logging:
  level:
    root: info
    com.baomidou.mybatisplus: info

jwt:
  secret: ${JWT_SECRET:change-me-please1234567894563214454545455454545}

security:
  jwt:
    access-ttl-seconds: 3600
    refresh-ttl-seconds: 604800

cache:
  default-ttl: 5m
  ttl:
    roleMenuCodes: 10m
    roleMenus: 10m
    deptTree: 30m
