spring:
  application:
    name: tagtag-admin
    version: 1.0.0
  profiles:
    active: dev
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8

server:
  port: 8080
  servlet:
    context-path: /

logging:
  config: classpath:logback-spring.xml

management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info
  endpoint:
    health:
      show-details: when_authorized

mybatis-plus:
  global-config:
    banner: false

# 存储配置
storage:
  local:
    base-path: uploads
