<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.tagtag.module.iam.mapper.DeptMapper">
    <!-- 部门分页查询 -->
    <select id="selectPage" resultType="dev.tagtag.module.iam.entity.Dept">
        SELECT id,
               name,
               parent_id   AS parentId,
               sort,
               status,
               create_time AS createTime,
               update_time AS updateTime,
               create_by   AS createBy,
               update_by   AS updateBy
        FROM iam_dept
        <where>
            <if test="q != null">
                <if test="q.name != null and q.name != ''">
                    AND name LIKE CONCAT('%', #{q.name}, '%')
                </if>
                <if test="q.status != null">
                    AND status = #{q.status}
                </if>
                <if test="q.parentId != null">
                    AND parent_id = #{q.parentId}
                </if>
            </if>
        </where>

        ORDER BY create_time DESC, id DESC
    </select>

</mapper>
