<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.tagtag.module.iam.mapper.MenuMapper">

    <!-- 菜单分页查询 -->
    <select id="selectPage" resultType="dev.tagtag.module.iam.entity.Menu">
        SELECT
            id,
            parent_id    AS parentId,
            menu_name    AS menuName,
            menu_code    AS menuCode,
            path,
            component,
            icon,
            sort,
            status,
            menu_type    AS menuType,
            is_hidden    AS isHidden,
            is_external  AS isExternal,
            external_url AS externalUrl,
            remark,
            is_keepalive AS isKeepalive,
            create_time  AS createTime,
            create_by    AS createBy,
            update_time  AS updateTime,
            update_by    AS updateBy,
            deleted
        FROM iam_menu
        <where>
            <if test="q != null">
                <if test="q.menuCode != null and q.menuCode != ''">
                    AND menu_code LIKE CONCAT('%', #{q.menuCode}, '%')
                </if>
                <if test="q.menuName != null and q.menuName != ''">
                    AND menu_name LIKE CONCAT('%', #{q.menuName}, '%')
                </if>
            </if>
        </where>

        <choose>
            <when test="orderList != null and orderList.size() &gt; 0">
                ORDER BY
                <foreach collection="orderList" item="sf" separator=",">
                    <choose>
                        <when test="sf.field == 'id'"> id </when>
                        <when test="sf.field == 'menuCode'"> menu_code </when>
                        <when test="sf.field == 'menuName'"> menu_name </when>
                        <when test="sf.field == 'createTime' or sf.field == 'create_time'"> create_time </when>
                        <when test="sf.field == 'sort'"> sort </when>
                        <otherwise> id </otherwise>
                    </choose>
                    <choose>
                        <when test="sf.asc == null or sf.asc"> ASC </when>
                        <otherwise> DESC </otherwise>
                    </choose>
                </foreach>
            </when>
            <otherwise>
                ORDER BY id ASC
            </otherwise>
        </choose>
    </select>

</mapper>