<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dev.tagtag.module.iam.mapper.MenuMapper">

    <!-- 菜单分页查询 -->
    <select id="selectPage" resultType="dev.tagtag.module.iam.entity.Menu">
        SELECT
            id,
            parent_id    AS parentId,
            menu_name    AS menuName,
            menu_code    AS menuCode,
            path,
            component,
            icon,
            sort,
            status,
            menu_type    AS menuType,
            hide_in_menu AS hideInMenu,
            link,
            iframe_src   AS iframeSrc,
            remark,
            keep_alive   AS keepAlive,
            create_time  AS createTime,
            create_by    AS createBy,
            update_time  AS updateTime,
            update_by    AS updateBy,
            deleted
        FROM iam_menu
        <where>
            <if test="q != null">
                <if test="q.menuCode != null and q.menuCode != ''">
                    AND menu_code LIKE CONCAT('%', #{q.menuCode}, '%')
                </if>
                <if test="q.menuName != null and q.menuName != ''">
                    AND menu_name LIKE CONCAT('%', #{q.menuName}, '%')
                </if>
            </if>
        </where>

        ORDER BY create_time DESC, id DESC
    </select>

</mapper>
